.TopBanner{
    margin: auto;
    height: 75px;
    width: 600px;
    background-color: mediumturquoise;
    justify-content: center;
}

.picture img{
    height: 75px;
    width: 75px;
    position: relative;
    top: -37.5px;
    left: 20px;
}

.container{
    width: 600px;
    height: 350px;
    border-color: gray;
    border-style: solid;
    margin: auto;

}

.seattle{
    display: flex;
    position: relative;
    bottom: 70px;
}

.seattle img{
    width: 20px;
    height: 30px;
    position: relative;
    top: 10px;
}
.name{
    position:relative;
    bottom: 50px;
}


.whitebox{
    margin-left: 20px;
}

.bio{
    position: relative;
    bottom: 80px;
    margin: 0px;
}

.button{
    position: relative;
    bottom: 80px;
}

.button img{
    width: 20px;
    height: 20px;
}